@font-face {
    font-family: "PT Serif";
    src: url("fonts/PT_Serif/PTSerif-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "PT Serif";
    src: url("fonts/PT_Serif/PTSerif-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Nunito";
    src: url("fonts/Nunito/Nunito-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Nunito";
    src: url("fonts/Nunito/Nunito-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Nunito";
    src: url("fonts/Nunito/Nunito-Black.ttf");
    font-weight: 900;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
}

.blueback {
    background-color: #4E80AB;
}

.header {
    text-align: center;
    color : white;
    line-height: 50px;
    font-family: "PT Serif";
    font-size: 20px;
}

#headertext {
    display: inline;
}

#headerbutton {
    display: inline;
    margin-left: 20px;
}

#headerbutton a {
    display: inline-block;
    color: white;
    text-decoration: none;
    line-height: 30px;
    padding: 2px 30px 2px 30px;
    border: 1px solid white;
}

.maincontainer {
    max-width: 1130px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logo {
    margin: 74px 0 0 -60px;
}

#logo img {
    width: 130px;
    height: 107px;
}

#firstgroup {
    margin-top: -151px;
    display: flex;
    justify-content: space-between;
}

.firstcontainerleft {
    border-left: 1px solid black;
    margin-top: 320px;
    padding-bottom: 240px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.containerright {
    position: relative;
    border-right: 1px solid black;
    padding-bottom: 240px;
    z-index: 0;
}

.containerright img {
    position: absolute;
    right: 0;
    width: 479px;
    height: 770px;
    object-fit: cover;
}

.title {
    font-family: "PT Serif";
    font-size: 40px;
    font-weight: bold;
    margin-left: 69px;
    margin-right: 20px;
    max-width: 513px;
    line-height: 1.2em;
}

.text {
    font-family: "Nunito";
    font-size: 16px;
    max-width: 481px;
    margin: 30px 20px 0 69px;
    line-height: 1.2em;
}

.text b {
    font-weight: 900;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-left: 69px;
    margin-top: 94px;
    width: 664px;
}

.buttons div {
    flex-basis: 29.5%;
    height: 98px;
    line-height: 98px;
    text-align: center;
}

#lab a {
    background: #B8676B;
}

#forum a {
    background: #779A20;
}

#contatti a {
    background: #DF964A;
}

.buttons div a {
    font-family: "Nunito";
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
}

#secondgroup .maincontainer .group {
    border-left: 1px solid white;
    border-right: 1px solid white;
    color: white;
    height: 495px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

#secondgroup .maincontainer .group .title {
    position: relative;
    top: -70px;
    grid-row: 1;
    grid-column: 1;
}

#secondgroup .maincontainer .group .text {
    position: relative;
    top: 80px;
    margin-top: 0;
    max-width: 390px;
    order: 3;
    grid-row: 1;
    grid-column: 1;
}

#secondgroup .maincontainer .group .videowrapper {
    position: relative;
    width: 100%;
    padding-top: 52%;
}

#secondgroup .maincontainer .group .videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#thirdgroup {
    border-left: 1px solid black;
    border-right: 1px solid black;
    height: 793px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#thirdgroup .title {
    font-size: 28px;
}

#thirdgroup .leftgroup {
    max-width: 479px;
    margin-top: 72px;
    flex-basis: 50%;
}

#thirdgroup .leftgroup .button {
    background-color: #B8676B;
    width: 80%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin-left: 69px;
    margin-top: 30px;
}

#thirdgroup .leftgroup .button a {
    font-family: "Nunito";
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
}

#thirdgroup .rightgroup {
    flex-basis: 50%;
    align-items: center;
    text-align: right;
}

#thirdgroup .rightgroup img {
    margin-top: 24px;
    width: 100%;
    height: 30%;
    object-fit: cover;
}

#fourthgroup {
    border-left: 1px solid black;
    border-right: 1px solid black;
    height: 793px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

#fourthgroup > img {
    width: 100%;
    height: 30%;
    object-fit: cover;
    margin-bottom: 30px;
}

#fourthgroup .container {
    display: flex;
    justify-content: space-between;
}

#fourthgroup .title {
    font-size: 28px;
    flex-basis: 30%;
}

#fourthgroup .rightgroup {
    flex-basis: 58%;
}

#fourthgroup .text {
    margin-top: 0; 
    margin-left: 0;
}

#fourthgroup .editions {
    font-size: 20px;
    font-family: "Nunito";
    color: #779A20;
    margin-top: 30px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

#fourthgroup .picker {
    font-size: 20px;
    font-family: "Nunito";
    margin-top: 12px;
    width: 378px;
    height: 60px;
    color: white;
    background-color: #779A20;
    text-align-last: center;
}

#fifthgroup {
    border-left: 1px solid black;
    border-right: 1px solid black;
    height: 441px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#fifthgroup > div {
    flex-basis: 30%;
}

#fifthgroup .contatti {
    margin-top: 40px;
}

#fifthgroup .title {
    font-size: 28px;
}

#fifthgroup .text {
    margin-top: 4px;
}

#fifthgroup .contatti {
    display: flex;
    width: 100%;
    justify-content: center;
}


#fifthgroup .contatti .email {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#fifthgroup .contatti > div {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#fifthgroup .contatti > div .text {
    margin: 0 0 0 0;
    font-weight: bold;
}

#fifthgroup .contatti > div .info {
    font-size: 16px;
    font-family: "Nunito";
    text-align: center;
    max-width: 80%;
}

#newsletter {
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 500px;
}

#newsletter .info {
    font-family: "PT Serif";
    font-size: 28px;
}

#newsletter .box {
    margin-top: 40px;
    width: 75%;
    height: auto;
    display: flex;
    justify-content: center;
}

#newsletter .box .email {
    flex-basis: 55%;
}

#newsletter .box .email > input {
    width: 100%;
    height: 55px;
    background-color: #DF964A33;
    border: none;
    font-size: 18px;
    font-family: "Nunito";
    padding-left: 23px;
    padding-right: 23px;
}

#newsletter .box .email .checkbox input {
    width: 16px;
    height: 16px;
    vertical-align: text-top;
}

#newsletter .box .email .checkbox label a {
    color: #DF964A;
}

#newsletter .box .email .checkbox {
    margin-top: 5px;
    font-family: "Nunito";
    font-size: 14px;
    color: #DF964A;
}

#newsletter .box .button {
    flex-basis: 15%;
    height: 55px;
    margin-left: 5%;
    line-height: 55px;
    background-color: #DF964A;
    text-align: center;
}

#newsletter .box .button a {
    color: white;
    text-decoration: none;
    font-family: "Nunito";
    font-weight: bold;
    font-size: 20px;
}

#sponsor {
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 158px;
}

#sponsor .title {
    font-size: 28px;
    flex-basis: 45%;
}

#sponsor .sponsor1 {
    flex-basis: 20%;
}

#sponsor .sponsor2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 25%;
    font-family: "Nunito";
    font-size: 12px;
    color: #828282;
}

#footer {
    height: 271px;
    background-color: black;
    color: white;
}

#footer .maincontainer {
    height: 100%;
}

#footer .container {
    height: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

#footer .title {
    font-size: 24px;
    margin-right: 0;
    width: 53%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

#footer .title a {
    vertical-align: middle;
}

#footer .copyright {
    font-size: 14px;
    font-weight: bold;
    font-family: "Nunito";
    margin-left: 69px;
}

#footer .privacy {
    margin-left: 69px;
}

#footer .privacy a {
    color: white;
    font-family: "Nunito";
    font-weight: bold;
    font-size: 14px;
}

@media (max-width: 1280px) {

    #logo {
        margin-left: 69px;
    }
}

@media (max-width: 767px) {

    body {
        min-width: 370px;
    }

    .header {
        font-size: 14px;
        line-height: normal;
        display: flex;
        align-items: center;
    }

    #headertext {
        flex-basis: 55%;
        text-align: left;
        justify-self: right;
        padding: 3% 0 3% 5%;
    }
    
    #headerbutton {
        flex-basis: 45%;
        line-height: normal;
        margin-left: 0px;
        padding: 3% 0 3% 0;
    }

    #headerbutton a {
        line-height: normal;
        padding: 3% 10% 2% 10%;
    }

    #logo {
        text-align: center;
        margin-top: 20px;
        margin-left: 0;
    }
    
    #logo img {
        width: 73px;
        height: 60px;
    }

    #firstgroup {
        margin-top: -65px;
        position: relative;
    }

    .firstcontainerleft {
        margin-top: 0;
        margin-left: 4%;
        padding-bottom: 114px;
        width: 100%;
    }

    .containerright {
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 4%;
        width: 60%;
        height: 999px;
        padding-bottom: 0;
    }

    .containerright img {
        position: absolute;
        right: 0;
        top: 310px;
        width: 100%;
        height: 40%;
    }

    .title {
        margin-top: 105px;
        font-size: 24px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .text {
        margin-top: 30px;
        max-width: 80%;
        margin-left: 15px;
    }

    .buttons {
        flex-direction: column;
        height: 374px;
        width: 55%;
        margin-left: 20px;
        margin-top: 145px;
    }

    .buttons div {
        flex-basis: 20%;
    }

    #secondgroup .maincontainer .group {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 4%;
        margin-right: 4%;
        height: 508px;
        align-items: flex-start;
    }

    #secondgroup .maincontainer .group :nth-child(1) { order: 1; }
    #secondgroup .maincontainer .group :nth-child(2) { order: 3; }
    #secondgroup .maincontainer .group :nth-child(3) { order: 2; }

    #secondgroup .maincontainer .group .title, #secondgroup .maincontainer .group .text {
        margin-top: 0;
        top: 0;
        max-width: none;
        margin-right: 19px;
    }
    
    #secondgroup .maincontainer .group .videowrapper {
        align-self: center;
        width: calc(100% - 35px);
    }

    #thirdgroup {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: flex-start;
        margin-left: 4%;
        margin-right: 4%;
        padding-top: 100px;
        padding-bottom: 130px;
        height: max-content;
        max-height: 1100px;
    }

    #thirdgroup .leftgroup {
        margin-top: 0;
        max-width: 100%;
    }

    #thirdgroup .title {
        font-size: 24px;
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
    }

    #thirdgroup .text {
        margin-left: 20px;
        margin-right: 20px;
        max-width: 100%;
    }

    #thirdgroup .leftgroup .button {
        width: 290px;
        height: 60px;
        margin-left: 20px;
        margin-right: 20px;
    }

    #thirdgroup .leftgroup .button a {
        font-size: 16px;
    }

    #thirdgroup .rightgroup {
        text-align: center;
    }
    
    #fourthgroup {
        margin-left: 4%;
        margin-right: 4%;
        flex-direction: column;
        align-items: center;
    }

    #fourthgroup > img {
        height: 20%;
    }

    #fourthgroup .container {
        flex-direction: column;
        width: 100%;
    }

    #fourthgroup .title {
        margin-left: 20px;
        margin-top: 0;
    }
    
    #fourthgroup .text {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        max-width: 100%;
    }

    #fourthgroup .editions {
        margin-left: 20px;
    }
    
    #fourthgroup .picker {
        width: 294px;
        height: 60px;
    }

    #fifthgroup {
        margin-left: 4%;
        margin-right: 4%;
        height: 100%;
        align-items: center;
        text-align: center;
        padding-bottom: 90px;
    }

    #fifthgroup .main {
        font-size: 24px;
        flex-basis: 10%;
    }

    #fifthgroup .main .title, #fifthgroup .main .text {
        margin: 0 0 0 0;
        max-width: 100%;
    }

    #fifthgroup .contatti {
        flex-direction: column;
        justify-content: center;
        width: 70%;
        flex-basis: 90%;
    }

    #fifthgroup .contatti .email {
        border-left: 0px;
        border-right: 0px;
        border-top: solid 1px black;
        border-bottom: solid 1px black;
    }

    #fifthgroup .contatti > div {
        justify-content: space-between;
        padding: 20px 0 20px 0;
    }

    #fifthgroup .contatti > div > * {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    #newsletter {
        margin-left: 4%;
        margin-right: 4%;
        padding-bottom: 120px;
        height: 100%;
        width: auto;
        align-items: center;
    }

    #newsletter .info {
        font-size: 24px;
        width: 100%;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    #newsletter .box {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #newsletter .box .email {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    #newsletter .box .button {
        margin-top: 30px;
        margin-left: 0;
        width: calc(100% - 40px);
    }

    #sponsor {
        margin-left: 4%;
        margin-right: 4%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 120px;
    }

    #sponsor > div {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #sponsor .title {
        font-size: 24px;
        margin: 0 0 0 0;
        padding-right: 20px;
        padding-left: 20px;
    }

    #sponsor .sponsor1 img {
        width: 160px;
        height: 76px;
    }

    #sponsor .sponsor2 img {
        width: 160px;
        height: 55px;
    }

    #footer {
        height: 230px;
    }

    #footer .container {
        margin-left: 4%;
        margin-right: 4%;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    #footer .title {
        font-size: 18px;
        margin: 0 0 0 0;
        width: 90%;
    }

    #footer .copyright, #footer .privacy {
        margin-left: 0;
    }

    #footer .container :nth-child(1) { order: 1; }
    #footer .container :nth-child(2) { order: 3; }
    #footer .container :nth-child(3) { order: 2; }
}